body{
  background: #141b22 !important;
  height:100%;
  color:#fff
}

a{
  text-decoration: none;
}

header{
  background-color:#0058a0;
  color:#fff;
}

nav {
  margin-right:30px;
  width:100%;
}
#navigation{
  list-style-type:none;
  margin-bottom:0;
  padding-left:0;
}

#navigation li{
  margin-right:20px;
}

#navigation li a{
  font-size:19px;
  text-decoration: none;
  color:#fff;  
}

#navigation li a:hover{
  color:#c4e0ff;  
}

#rightHeader .icons{
  margin-right:20px;
  font-size:19px;
  color:#fff;
}

#rightHeader{
  width:100%;
  max-width:500px;
}
#leftHeader{
  padding:20px;  
}

#leftHeader img{
  width:100%;
  max-width:150px;  
}

h1, h2, h3, h4, h5, h6, p{
  color:#fff;
  text-transform: uppercase;
}

#homePageh1{
  font-size:69px;
  margin-top:25px;
  text-align: center;
}

#homePageh2{
  font-size:45px; 
  margin-bottom:25px;
  text-align: center; 
}

#homePageh3{
  text-align: center;  
}

.homeButton{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width:180px;
  text-align: center;
  padding:15px;
  color:#0885ec;
  border:1px solid #0885ec;
  cursor:pointer;
  transition:0.2s ease-in;
  text-decoration: none;
  text-transform: capitalize;
  margin:0 15px
}

.homeButton:hover{
  background-color:#0058a0;
  color:#fff;
  transition:0.2s ease-in
}
.homeButton svg{
  margin-left:5px;
}

.homeSection{
  padding-bottom:35px;
  margin-bottom:125px;
  line-height: 2;
  border-bottom:2px dotted #fff;
}

#mainParagraph{
  width:100%;
  max-width:655px;
  line-height:2;
  margin:5% 0;
text-align: center;
}
.paragraphText{
  text-transform: none;
  text-align: center;
  margin:15px 0;
}

.paragraphText ul{
  list-style-type: none;
  padding-left:0;
}
#containerHeight{
  box-sizing: border-box;
}

#skillCols{
  margin-top:65px;
}



#lastSection{
  margin-bottom:10px;
  border:none;
}
.portfolioImg{
  width:100%;
  max-width:350px;  
}
#mainPicture{
  max-width:200px;
  border-radius: 180px;
  margin:0 auto;
}
footer{
  background:#0058a0;
  padding:25px 0;
}

footer a{
  color:#fff;
  margin-left:15px;

}
#copyright{
  margin-left:12px;
  color:#fff;
}

#backToTopButton{
  position: fixed;
  right:10px;
  bottom:10px;
  color:#000;
  background:#c4e0ff;
  padding:10px;
  font-size:15px;
  border-radius:50% 0;
  z-index:999;
}
#workButton.homeButton{
  max-width: 205px;
}
#skillsButton{
  width:450px;
}

#buttonSet{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  max-width:650px;
}

/* Projects Section */
#projectsText{
  text-align: left;  
}