@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background: #141b22 !important;
  height:100%;
  color:#fff;
  font-family:"Roboto";
}

a{
  text-decoration: none;
}

header{
  background-color:#1879c8;
  color:#fff;
}

nav {
  margin-right:30px;
  width:100%;
}
#navigation{
  list-style-type:none;
  margin-bottom:0;
  padding-left:0;
}

#navigation li{
  margin-right:20px;
}

#navigation li a{
  font-size:19px;
  text-decoration: none;
  color:#fff;  
}

#navigation li a:active{
  color:#f58aff;
  text-decoration: underline;
}
#navigation li a:active{
  color:#f58aff;
  text-decoration: underline;
}

#navigation li a:hover{
  color:#c4e0ff;  
}

#rightHeader .icons{
  margin-right:20px;
  font-size:19px;
  color:#fff;
}

#rightHeader{
  width:100%;
  max-width:500px;
}
#leftHeader{
  padding:20px;  
}

#leftHeader img{
  width:100%;
  max-width:150px;  
}

h1, h2, h3, h4, h5, h6, p{
  color:#fff;
  text-transform: uppercase;
}

#homePageh1{
  font-size:69px;
  margin-top:25px;
  text-align: center;
}

#homePageh2{
  font-size:45px; 
  margin-bottom:25px;
  text-align: center;
  font-weight:300 
}

#homePageh3{
  text-align: center;  
}

.homeButton{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width:180px;
  text-align: center;
  padding:15px;
  color:#0885ec;
  border:1px solid #0885ec;
  cursor:pointer;
  transition:0.2s ease-in;
  text-decoration: none;
  text-transform: capitalize;
  margin:0 15px
}

.homeButton:hover{
  background-color:#0058a0;
  color:#fff;
  transition:0.2s ease-in
}
.homeButton svg{
  margin-left:5px;
}

.homeSection{
  padding-bottom:35px;
  margin-bottom:125px;
  line-height: 2;
  border-bottom:2px dotted #fff;
}

#mainParagraph{
  width:100%;
  max-width:655px;
  line-height:2;
  margin:5% 0;
text-align: center;
}
.paragraphText{
  text-transform: none;
  text-align: center;
  margin:15px 0;
}

.paragraphText ul{
  list-style-type: none;
  padding-left:0;
}
#containerHeight{
  box-sizing: border-box;
}

#skillCols{
  margin-top:65px;
}

#lastSection{
  margin-bottom:10px;
  border:none;
}
.portfolioImg{
  width:100%;
  max-width:400px;  
  margin:0 10px;
}
.portfolioLink{
  position: relative;
}
.portfolioLink .imageCaption{
  position:absolute;
  top:0;
  text-align: center;
  width:calc(100% - 9px);
  background:rgb(0,0,0,0.5);
  height:100%;
  padding-top:65px;
  transition:0.3s ease-in
}

.imageCaption:hover{
  background:rgb(0,0,0,0.2);
  transition:0.3s ease-in
}
.imageCaption{
  text-align: center;
  font-size:18px;
}
#mainPicture{
  max-width:200px;
  border-radius: 180px;
  margin:0 auto;
}
footer{
  background:#1879c8;
  padding:25px 0;
}

footer a{
  color:#fff;
  margin-left:15px;

}
#copyright{
  margin-left:12px;
  color:#fff;
}

#backToTopButton{
  position: fixed;
  right:10px;
  bottom:10px;
  color:#000;
  background:#c4e0ff;
  padding:10px;
  font-size:15px;
  border-radius:50% 0;
  z-index:999;
}
#workButton.homeButton{
  max-width: 205px;
}
#skillsButton{
  width:450px;
}

#buttonSet{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  max-width:650px;
}

/* Projects Section */
#projectsText{
  text-align: left;  
}

.projects {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectCol{
  position: relative;
}

.projectImgCaption{
  position: absolute;
  top:0%;
  width:100%;  
  text-align: center;
  background:rgb(0,0,0,0.5);
  font-size:21px;
  font-weight:bold;
  color:#fff;
  text-transform: uppercase;
  padding-top:65px;
  padding-bottom:96px;
    transition:0.2s ease-in
}
.projectImgCaption:hover{
  background:rgb(0,0,0,0.2);
  transition:0.2s ease-in
}
.projectImg{
  max-width:400px;
  margin-bottom:35px;
}
.individualProjectIMG img{
  margin-bottom:25px
}

/* resume section */
.resumeH1{
  margin-top:25px;
text-align: center;
}
.resumeSection.firstSection{
  margin-top:65px;
}
.resumeSection{
  background:#04508f;  
  line-height:2;
  padding:10px 25px;
  margin-bottom:45px;
  box-shadow:11px 1px 21px 1px #000;
}

.companyName{
  font-size:17px;
  font-weight:600
}

.date{
  color:#fff;
  font-size:17px;
  text-transform: uppercase;
}

.jobTitle{
  color:#d994f9;
  font-size:41px;
  font-weight:700
}

.jobDescription{
  color:#ffffff;
}

.skillSection{
  text-transform: capitalize;
  font-weight: 600;
}
.hamburger-open, #mobileMenu{
  display: none!important;
}

@media screen and (max-width:821px){
  #skillColSection{
    flex-direction: column!important;
  }

  .skillCol{
    margin-top:30px
  }  
}
@media screen and (max-width:749px){
  .hamburger{

  }
  #rightHeader{
    justify-content: end!important;    
  }
  #desktopNav{
    display: none !important;
  }
  #mobileMenu.show{
    display: flex !important;
    flex-direction: column!important;
    line-height: 2;
  }

  #mobileMenu ul li a{
    display:flex;
    width:100%;
    padding:10px 0
  }

  .hamburger-close, .hamburger-open{
    display: flex !important;;
    background:none;
    border:none;
    font-size:25px;
    color:#fff;
    margin-right:15px;

  }
  .hamburger-close{
    background:#1879c8;
    position: absolute;
    top:45px;
    right:0px;
    font-size:25px;
  }
}